In [30]:
import pandas as pd
data=pd.read_csv(r'C:/Users\deepajay\Desktop\qqwwd/Ronak - sheet 10.csv')
print(data)
print(data.shape)
print("----"*15)

    S.No.              Date        Day        Timings  Approx_Hour  \
0     NaN               NaN        NaN            NaN          NaN
1     1.0  February 12,2022   Saturday   8:00-10:00pm          2.0
2     2.0  February 14,2022     Monday    7:30-8:30am          1.0
3     3.0  February 16,2022  Wednesday   8:00-10:00am          2.0
4     4.0  February 19,2022   Saturday    8:30-9:30am          1.0
5     5.0      March 3,2022   Thursday    8:00-9:00pm          1.0
6     6.0      March 8,2022    Tuesday   9:00-10:00pm          1.0
7     7.0      March 9,2022  Wednesday    7:30-8:30pm          1.0
8     8.0     March 11,2022     Friday    7:30-9:30pm          2.0
9     9.0     March 12,2022   Saturday   9:00-10:00am          1.0
10   10.0     March 13,2022     Sunday   9:00-10:00am          1.0
11   11.0     March 15,2022    Tuesday    7:30-8:30pm          1.0
12   12.0     March 17,2022   Thursday    7:30-8:30am          1.0
13   13.0     March 21,2022     Monday  10:00-11:55pm          2.0
14   14.0     March 22,2022    Tuesday  11:00-11:55pm          1.0

    Cumulative_Hour  Unnamed: 6  Unnamed: 7  S.No..1            Date.1  \
0               NaN         NaN         NaN      NaN               NaN
1               2.0         NaN         NaN      1.0   January 11,2022
2               3.0         NaN         NaN      2.0   January 13,2022
3               5.0         NaN         NaN      3.0   January 19,2022
4               6.0         NaN         NaN      4.0   January 20,2022
5               7.0         NaN         NaN      5.0   January 25,2022
6               8.0         NaN         NaN      6.0   January 26,2022
7               9.0         NaN         NaN      7.0   January 27,2022
8              11.0         NaN         NaN      8.0   January 31,2022
9              12.0         NaN         NaN      9.0   February 1,2022
10             13.0         NaN         NaN     10.0   February 6,2022
11             14.0         NaN         NaN     11.0   February 7,2022
12             15.0         NaN         NaN     12.0  February 10,2022
13             17.0         NaN         NaN      NaN               NaN
14             18.0         NaN         NaN      NaN               NaN

        Day.1     Timings.1  Approx_Hour1  Cumulative_Hour1
0         NaN           NaN           NaN               NaN
1     Tuesday   8:00-9:00am           1.0               1.0
2    Thursday   7:30-8:30am           1.0               2.0
3   Wednesday   8:00-9:00am           1.0               3.0
4    Thursday   8:00-9:00am           1.0               4.0
5     Tuesday   7:30-9:00am           1.5               5.5
6   Wednesday  9:00-10:30am           1.5               7.0
7    Thursday   7:30-8:30am           1.0               8.0
8      Monday   7:30-8:30am           1.0               9.0
9     Tuesday   8:00-9:30am           1.5              10.5
10     Sunday  9:00-10:30pm           1.0              12.0
11     Monday   7:00-8:00am           1.0              13.0
12   Thursday   6:00-8:00pm           2.0              15.0
13        NaN           NaN           NaN               NaN
14        NaN           NaN           NaN               NaN
(15, 14)
------------------------------------------------------------

In [33]:
from collections import Counter
code=Counter(data.Approx_Hour1)
coss=code.most_common(10)
print(coss)
x, y=zip(*coss)
x,y=list(x),list(y)
name=pd.DataFrame(x)
sup=pd.DataFrame(y)
cot=pd.concat([name.loc[:,0],sup.loc[:,0]],axis=1)
cot.columns="Approx_Hour1","Coss"
cot.head(20)

[(1.0, 8), (1.5, 3), (nan, 1), (2.0, 1), (nan, 1), (nan, 1)]

   Approx_Hour1  Coss
0           1.0     8
1           1.5     3
2           NaN     1
3           2.0     1
4           NaN     1
5           NaN     1

In [39]:
cod=Counter(data.Approx_Hour)
cos=cod.most_common(10)
print(cos)
p, q=zip(*cos)
p,q=list(p),list(q)
nam=pd.DataFrame(p)
cup=pd.DataFrame(q)
cote=pd.concat([nam.loc[:,0],cup.loc[:,0]],axis=1)
cote.columns="Approx_Hour","Cos"
cote.head(20)

[(1.0, 10), (2.0, 4), (nan, 1)]

   Approx_Hour  Cos
0          1.0   10
1          2.0    4
2          NaN    1

In [41]:
print(cot.head(5))
print("-----"*10)
print(cote.head(10))

   Approx_Hour1  Coss
0           1.0     8
1           1.5     3
2           NaN     1
3           2.0     1
4           NaN     1
--------------------------------------------------
   Approx_Hour  Cos
0          1.0   10
1          2.0    4
2          NaN    1